@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gradient-to-b from-green-900 via-green-800 to-black;
  background-size: 200% 200%;
  animation: gradientShift 20s ease infinite;
}

@keyframes gradientShift {
  0% { background-position: 0% 0%; }
  50% { background-position: 100% 100%; }
  100% { background-position: 0% 0%; }
}

